In [3]:
#Exp no:3
#aim:Basics of Data frame

In [4]:
# Name:Pratik Kanhed
# Roll no:73
# Sec:c
# Subject:ET-1
# Date:

Creating Series

In [5]:
import pandas as pd

In [6]:
Name=["Pratik","Aadesh","Vedant","Govind"]
Name

['Pratik', 'Aadesh', 'Vedant', 'Govind']

In [7]:
Roll_list=pd.Series(Name,index=[1,2,3,4])
print(Roll_list)

1    Pratik
2    Aadesh
3    Vedant
4    Govind
dtype: object

Creating Data Frame

In [8]:
import pandas as pd

In [9]:
df=pd.DataFrame([[10,12,14,16],[11,18,15,21],[12,13,14,15]],
columns= ["BI","DBMS","DSS","CAO"])

In [10]:
df

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15

In [11]:
df.shape

(3, 4)

In [12]:
df.size

12

In [13]:
df.ndim

2

Adding Record (Row) to the data frame

In [14]:
import pandas as pd

In [15]:
df2=pd.DataFrame([[5,6,7,8]],
columns= ["BI","DBMS","DSS","CAO"])

In [16]:
df3 = pd.concat([df, df2], ignore_index=True)

In [17]:
df3

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

Adding Attribute (Columns) name DM

In [18]:
df3["DM"]=[12,15,16,14]

In [19]:
df3

   BI  DBMS  DSS  CAO  DM
0  10    12   14   16  12
1  11    18   15   21  15
2  12    13   14   15  16
3   5     6    7    8  14

Deleting Record from df3 dataframe

In [20]:
df4=df3.drop(index=[1])

In [21]:
df4

   BI  DBMS  DSS  CAO  DM
0  10    12   14   16  12
2  12    13   14   15  16
3   5     6    7    8  14

Deleting Attribute (Columns) from df3 dataframe

In [22]:
df5=df3.drop(columns=["DM"])

In [23]:
df5

   BI  DBMS  DSS  CAO
0  10    12   14   16
1  11    18   15   21
2  12    13   14   15
3   5     6    7    8

In [24]:
print("Mean of DSS:", df5["DSS"].mean())

Mean of DSS: 12.5

In [25]:
print("Median of DSS:", df5["DSS"].median())

Median of DSS: 14.0

In [26]:
print("Max of DSS:", df5["DSS"].max())

Max of DSS: 15

In [27]:
print("Max of DSS:", df5["DSS"].min())

Max of DSS: 7